 




@font-face {
    font-family: "JetBrains Mono";
    src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


/// font variables

$mainFont: "JetBrains Mono";


//// color variables

$neonGreen: #A4FFAF;
$mainWhite: #E6E5EA;
$grey: #817D92;
$darkGrey: #24232C;
$veryDarkGrey: #18171F;
$yellow: #F8CD65;
$veryDark: #08070B;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}





body {
    background-color: $veryDark;
    color: $mainWhite;
    font-family: $mainFont;
    padding: 64px 16px;
    box-sizing: border-box;
}

.main-section {
    max-width: 540px;
    margin: auto;
    text-align: center;

    .main-header {
        margin-bottom: 16px;
        
        h1 {
            font-size: 16px;
            font-weight: 700;
            color: $grey;
            margin-bottom: 16px;
        }

        .generated-password--container {
            @include flex-row();
            background-color: $darkGrey;
            padding: 17px 16px;
            box-sizing: border-box;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 24px;
                font-weight: 700;
                color: $mainWhite;
            }

            .copy-icon {
                width: 18px;
                height: 20px;
                fill: $neonGreen;
                cursor: pointer;
            }

        }


    }

    .password-generator--form {
        background-color: $darkGrey;
        padding: 16px;
        box-sizing: border-box;

        .fieldset-range {
            margin-bottom: 32px;

            legend {
                @include flex-row();
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 7px;

                p {
                    font-size: 16px;
                    font-weight: 700;

                    &:last-child {
                        color: $neonGreen;
                        font-size: 24px;
                    }
                }

            }

            #inp-range {

                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                width: 100%;
                height: 8px;
                background: $veryDarkGrey;
            }

            #inp-range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $mainWhite;
                cursor: pointer;
                margin-top: -6px;
            }

            #inp-range::-moz-range-thumb {
                -moz-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $mainWhite;
                cursor: pointer;
                margin-top: -6px;
            }

            #inp-range::-ms-thumb {
                -ms-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $mainWhite;
                cursor: pointer;
                margin-top: -6px;
            }

            #inp-range::-webkit-slider-runnable-track {
                height: 8px;
                background: transparent;
            }

            
        }

        .fieldset-checkbox {
            // background-color: #817D92;
            text-align: left;
            margin-bottom: 32px;

            .label-checkbox {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 17px;

                &:last-child {
                    margin: 0px;
                }

                .inp-checkbox {
                    width: 20px;
                    height: 20px;
                    // opacity: 0;
                    position: relative;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    appearance: none;
                    border: 2px solid $mainWhite;
                    box-sizing: border-box;
                }

                .inp-checkbox::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $neonGreen;
                    left: 0;
                    top: 0;     
                    z-index: 1;
                    display: none;               
                }

                .inp-checkbox::before {
                    content: "";
                    position: absolute;
                    z-index: 3;
                    width: 8px;
                    height: 3px;
                    // background-color: red;
                    left: 0;
                    top: 0;
                    border-bottom: 2px solid $darkGrey;
                    border-left: 2px solid $darkGrey;
                    left: 50%;
                    top: 45%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    display: none;
                }

                .inp-checkbox:checked {
                    border: none;
                }

                .inp-checkbox:checked::after,
                .inp-checkbox:checked::before {
                    display: block;
                }
            }
        }

        .password-strength--container {
            width: 100%;
            padding: 14px 16px;
            box-sizing: border-box;
            @include flex-row();
            justify-content: space-between;
            align-items: center;
            background-color: $veryDarkGrey;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 16px;

            legend {
                font-size: 16px;
                color: $grey;
            }

            .strength-indicator--container {
                display: inherit;
                gap: 16px;
                align-items: center;

                b {
                    font-size: 18px;
                }

                .fieldset-checkbox--strength {
                    @include flex-row();
                    gap: 8px;

                    .inp-checkbox--strength {
                        width: 2px;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        width: 10px;
                        height: 20px;
                        background-color: #F8CD65;
                        margin: 0;
                    }
                }
            }



        }

    }

    .btn-submit {
        width: 100%;
        height: 56px;
        background: $neonGreen;
        border: none;
        outline: none;
        cursor: pointer;
        @include flex-row();
        justify-content: center;
        align-items: center;
        gap: 16px;
        
        span {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: $darkGrey;
        }
    }
    
}