



@font-face {
    font-family: 'JetBrains Mono';
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}


///   color variables;

$color--grey: #24232C;
$color--light-grey: #817D92;
$color--white: #E6E5EA;
$color--dark-grey: #18171F;
$color--neon-green: #A4FFAF;
$color--red: #F64A4A;
$color--orange: #FB7C58;
$color--yellow: #F8CD65;




////  font variable;

$mainFont: 'JetBrains Mono', sans-serif;


@mixin flex-row() {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin flex-column() {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display-none {
    display: none;
}



body {
 background-color: $color--dark-grey;

 font-family: $mainFont, sans-serif;
 font-size: 16px;
 color: $color--white;
 font-weight: 400;


 text-align: center;

 .main-section {

    padding: 65px 16px;
    box-sizing: border-box;

    .app-name {
        color: $color--light-grey;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .form--password-generator {

        .container--password {
            background-color: rgba($color--light-grey, 0.3);
            // opacity: 0.3;
            @include flex-row();
            justify-content: space-between;

            padding: 18px 22px;
            box-sizing: border-box;
            color: $color--white;
            font-size: 18px;
            margin-bottom: 16px;

            .password {
                letter-spacing: 1px;
                cursor: copy;
            }

            .container--icon-copy {
                @include flex-row();
                gap: 8px;

                .span--copied {
                    font-size: 12px;
                    letter-spacing: 1px;
                    color: $color--neon-green;
                }

                .icon-copy {
                    cursor: pointer;
                }
            }
        }

        .container--form-inputs{
            background-color: rgba($color--light-grey, 0.3);
            padding: 18px 22px;
            box-sizing: border-box; 

            .container--input-range {

                .label--inp-range {
                    @include flex-row();
                    justify-content: space-between;
                    margin-bottom: 15px;
                    letter-spacing: 1px;
                    font-weight: 600;

                    .span--character-length {
                        color: $color--neon-green;
                        font-size: 18px;
                    }
                }


                ///  chrome and safari

                #inp-range {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 100%;
                    background: transparent;
                    height: 8px;
                    margin-bottom: 45px;
                    cursor: pointer;
                }


                #inp-range::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    // margin-top: -10px;
                    background-color: $color--white;
                    border: none;
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    cursor: pointer;
                }

            }

            .container--input-checkbox {
                @include flex-column();
                align-items: start;
                gap: 17px;
                margin-bottom: 32px;

                .label--inp-checkbox {
                    @include flex-row();
                    gap: 15px;
                    cursor: pointer;

                    .inp-checkbox {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        appearance: none;
                        
                    }

                    .inp-checkbox::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        border: 2px solid #D8D8D8;
                        background-color: rgba($color--light-grey, 0.3);
                        box-sizing: border-box;
                        z-index: 1;
                    }

                    .inp-checkbox::before {
                        display: none;
                    }

                    .inp-checkbox:checked::after {
                        background-color: $color--neon-green;
                        border: none;
                        width: 100%;
                        height: 100%;
                    }

                    .inp-checkbox:checked::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 10px;
                        height: 6px;
                        border-left: 2px solid $color--dark-grey;
                        border-bottom: 2px solid $color--dark-grey;
                        z-index: 2;
                        left: 5px;
                        top: 6px;
                        transform: rotate(-45deg);
                        box-sizing: border-box;
                    }
                }


            }

            .container--password-strength {
                background-color: $color--dark-grey;
                @include flex-row();
                justify-content: space-between;
                padding: 21PX 17PX;
                box-sizing: border-box;
                text-transform: uppercase;
                color: $color--light-grey;
                font-weight: 600;

                .container--strength {

                    @include flex-row();
                    gap: 12px;
                    .span--strength-level {
                        color: $color--white;
                    }

                    .squers {
                        @include flex-row();
                        gap: 8px;

                        .squer {
                            width: 10px;
                            height: 24px;
                            border: 1px solid $color--white;
                            box-sizing: border-box;
                        }
                    }
                }
            }

            .btn--generate-password {
                width: 100%;
                height: 56px;
                border: none;
                outline: none;
                cursor: pointer;
                
                background-color: $color--neon-green;
                color: $color--dark-grey;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 700;

                margin-top: 16px;

                @include flex-row();
                justify-content: center;
                gap: 6px;
            }
        }
    }
 }

}