@font-face {
  font-family: "JetBrains Mono";
  src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
.display-none {
  display: none;
}

body {
  background-color: #18171F;
  font-family: "JetBrains Mono", sans-serif, sans-serif;
  font-size: 16px;
  color: #E6E5EA;
  font-weight: 400;
  text-align: center;
}
body .main-section {
  padding: 65px 16px;
  box-sizing: border-box;
}
body .main-section .app-name {
  color: #817D92;
  font-weight: 500;
  margin-bottom: 20px;
}
body .main-section .form--password-generator {
  max-width: 540px;
  margin: auto;
}
body .main-section .form--password-generator .container--password {
  background-color: rgba(129, 125, 146, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 22px;
  box-sizing: border-box;
  color: #E6E5EA;
  font-size: 18px;
  margin-bottom: 16px;
}
body .main-section .form--password-generator .container--password .password {
  letter-spacing: 1px;
  cursor: copy;
}
body .main-section .form--password-generator .container--password .container--icon-copy {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
body .main-section .form--password-generator .container--password .container--icon-copy .span--copied {
  font-size: 12px;
  letter-spacing: 1px;
  color: #A4FFAF;
}
body .main-section .form--password-generator .container--password .container--icon-copy .icon-copy {
  cursor: pointer;
  fill: #A4FFAF;
  transition: all 0.2s;
}
body .main-section .form--password-generator .container--password .container--icon-copy .icon-copy:hover {
  fill: #E6E5EA;
}
body .main-section .form--password-generator .container--form-inputs {
  background-color: rgba(129, 125, 146, 0.3);
  padding: 18px 22px;
  box-sizing: border-box;
}
body .main-section .form--password-generator .container--form-inputs .container--input-range .label--inp-range {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}
body .main-section .form--password-generator .container--form-inputs .container--input-range .label--inp-range .span--character-length {
  color: #A4FFAF;
  font-size: 18px;
}
body .main-section .form--password-generator .container--form-inputs .container--input-range #inp-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  height: 8px;
  margin-bottom: 45px;
  cursor: pointer;
}
body .main-section .form--password-generator .container--form-inputs .container--input-range #inp-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #E6E5EA;
  border: 2px solid #E6E5EA;
  box-sizing: border-box;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
body .main-section .form--password-generator .container--form-inputs .container--input-range #inp-range::-webkit-slider-thumb:hover {
  background-color: #18171F;
  border: 2px solid #A4FFAF;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 17px;
  margin-bottom: 32px;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  cursor: pointer;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox .inp-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox .inp-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #D8D8D8;
  background-color: rgba(129, 125, 146, 0.3);
  box-sizing: border-box;
  z-index: 1;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox .inp-checkbox::before {
  display: none;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox .inp-checkbox:checked::after {
  background-color: #A4FFAF;
  border: none;
  width: 100%;
  height: 100%;
}
body .main-section .form--password-generator .container--form-inputs .container--input-checkbox .label--inp-checkbox .inp-checkbox:checked::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 6px;
  border-left: 2px solid #18171F;
  border-bottom: 2px solid #18171F;
  z-index: 2;
  left: 5px;
  top: 6px;
  transform: rotate(-45deg);
  box-sizing: border-box;
}
body .main-section .form--password-generator .container--form-inputs .container--password-strength {
  background-color: #18171F;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 21PX 17PX;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #817D92;
  font-weight: 600;
}
body .main-section .form--password-generator .container--form-inputs .container--password-strength .container--strength {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
body .main-section .form--password-generator .container--form-inputs .container--password-strength .container--strength .span--strength-level {
  color: #E6E5EA;
}
body .main-section .form--password-generator .container--form-inputs .container--password-strength .container--strength .squers {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
body .main-section .form--password-generator .container--form-inputs .container--password-strength .container--strength .squers .squer {
  width: 10px;
  height: 24px;
  border: 1px solid #E6E5EA;
  box-sizing: border-box;
}
body .main-section .form--password-generator .container--form-inputs .btn--generate-password {
  width: 100%;
  height: 56px;
  border: 2px solid #A4FFAF;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  background-color: #A4FFAF;
  color: #18171F;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  transition: all 0.2s;
}
body .main-section .form--password-generator .container--form-inputs .btn--generate-password:hover {
  background-color: #18171F;
  color: #A4FFAF;
}
body .main-section .form--password-generator .container--form-inputs .btn--generate-password:hover .icon-arrow {
  fill: #A4FFAF;
}
body .main-section .form--password-generator .container--form-inputs .btn--generate-password .icon-arrow {
  fill: #18171F;
  transition: all 0.2s;
}

/*# sourceMappingURL=style.css.map */
